<!DOCTYPE html>
<meta charset="utf-8">
<body>
	<h1>{{data["name"]}}</h1>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var width = 1500,
    height = 500;

var data = {{data|safe}};

// var fatDiv = document.getElementById('fat');
// fatDiv.innerHTML += data["fat"] + ' g';
//
// var sodiumDiv = document.getElementById('sodium');
// sodiumDiv.innerHTML += data["sodium"] + ' g';
//
// var caloriesDiv = document.getElementById('calories');
// caloriesDiv.innerHTML += data["calorie"] + ' kCal';
//
// var proteinDiv = document.getElementById('protein');
// proteinDiv.innerHTML += data["protein"] + ' g';


var bigList = [{radius: 10}];

bigList = bigList.concat(makeSodiumNodes(data["sodium"]));
console.log(bigList);
bigList = bigList.concat(makeProteinNodes(data["protein"]));
bigList = bigList.concat(makeCalorieNodes(data["calorie"]));
bigList = bigList.concat(makeFatNodes(data["fat"]));


function makeSodiumNodes(count) {
    var nodes = d3.range(Math.ceil(count)).map(function() { return {radius: 10, id: 0};});
    return nodes;
    // console.log(nodes);
}

function makeProteinNodes(count) {
    return d3.range(Math.ceil(count)).map(function() { return {radius: 10, id: 1};});
}

function makeCalorieNodes(count) {
    return d3.range(Math.ceil(count)).map(function() { return {radius: 10, id: 2};});
}

function makeFatNodes(count) {
    return d3.range(Math.ceil(count)).map(function() { return {radius: 10, id: 3};});
}



var root = bigList[0],
    color = d3.scale.category10();

root.radius = 0;
root.fixed = true;

var force = d3.layout.force()
    .gravity(0.03)
    .charge(function(d, i) { return i ? 0 : -2000; })
    .nodes(bigList)
    .size([width, height]);

force.start();

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.selectAll("circle")
    .data(bigList.slice(1))
  .enter().append("circle")
    .attr("r", function(d) { return d.radius; })
    .style("fill", function(d, i) {return color(d.id); });

force.on("tick", function(e) {
  var q = d3.geom.quadtree(bigList),
      i = 0,
      n = bigList.length;

  while (++i < n) q.visit(collide(bigList[i]));

  svg.selectAll("circle")
      .attr("cx", function(d) { return d.x; })
      .attr("cy", function(d) { return d.y; });
});

svg.on("mousemove", function() {
  var p1 = d3.mouse(this);
  root.px = p1[0];
  root.py = p1[1];
  force.resume();
});

function collide(node) {
  var r = node.radius + 16,
      nx1 = node.x - r,
      nx2 = node.x + r,
      ny1 = node.y - r,
      ny2 = node.y + r;
  return function(quad, x1, y1, x2, y2) {
    if (quad.point && (quad.point !== node)) {
      var x = node.x - quad.point.x,
          y = node.y - quad.point.y,
          l = Math.sqrt(x * x + y * y),
          r = node.radius + quad.point.radius;
      if (l < r) {
        l = (l - r) / l * .5;
        node.x -= x *= l;
        node.y -= y *= l;
        quad.point.x += x;
        quad.point.y += y;
      }
    }
    return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
  };
}

</script>
<table width="25%">
  <tr style="font-weight:bold">
    <td>Color</td>
    <td>Macro</td>
    <td>Units</td>
  </tr>
  <tr>
    <td>Red</td>
    <td>Fat</td>
    <td>{{data["fat"]}}</td>
  </tr>
  <tr>
    <td>Blue</td>
    <td>Sodium</td>
    <td>{{data["sodium"]}}</td>
  </tr>
  <tr>
    <td>Green</td>
    <td>Calories</td>
    <td>{{data["calorie"]}}</td>
  </tr>
  <tr>
    <td>Orange</td>
    <td>Protein</td>
    <td>{{data["protein"]}}</td>
  </tr>
 </table>
</body>
