{% extends "base.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/models.css') }}">

<div class="models_top container">
	<div class="row">
		<div class="models_title col-md-8">
			<h2>Dogs</h2>
			<p class="models_content">We at HomeSweHome believe that every dog deserves a home with a loving family.
			We also know that every dog has the potential to be a fine addition to any family. Browse through
			our list of adoptable dogs today and find a new family member. Our dogs come in all shapes and sizes, but each
		and every one of them have a huge heart made just for loving you! So stay awhile and help one of our good
	doggies find their Home Sweet Home.</p>

				<h3 class="models_content">"Dogs are not our whole life, but they make our lives whole." -Roger Caras
				</h3>
		</div>
		<div class="col-md-4">
			<img class="logo" src="homeswehomelogo.png">
		</div>
	</div>
</div>
<hr/>
<div class="models_top container" style="padding-bottom:40px">
	<div class="row">
		<div class="col-md-3">
			<div class="card">
	      <img class="card-img-top models_images" src="http://photos.petfinder.com/photos/pets/32491072/1/?bust=1460483633&width=500&-x.jpg" alt="Card image cap">
	      <div class="card-body">
	        <h5 class="card-title">Astro</h5>
	        <!-- <p class="card-text">Learn more about Astro</p> -->
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Breed: Chihuahua</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Gender: Male</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Age: 4</li>
					</ul>
	        <a href="/dog_details/0" class="card-link">Meet Astro</a>
	      </div>
	    </div>
		</div>
		<div class="col-md-3">
			<div class="card">
	      <img class="card-img-top models_images" src="http://photos.petfinder.com/photos/pets/39569882/1/?bust=1507196992&width=500&-x.jpg" alt="Card image cap">
	      <div class="card-body">
	        <h5 class="card-title">Molly</h5>
	        <!-- <p class="card-text">Learn more about Molly</p> -->
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Breed: Mixed Breed</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Gender: Female</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Age: 11</li>
					</ul>
	        <a href="/dog_details/10" class="card-link">Meet Molly</a>
	      </div>
	    </div>
		</div>
		<div class="col-md-3">
			<div class="card">
	      <img class="card-img-top models_images" src="http://photos.petfinder.com/photos/pets/39566132/1/?bust=1507160469&width=500&-x.jpg" alt="Card image cap">
	      <div class="card-body">
	        <h5 class="card-title">Evergreen</h5>
	        <!-- <p class="card-text">Learn more about Evergreen</p> -->
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Breed: Pitbull</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Gender: Female</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Age: 2</li>
					</ul>
	        <a href="/dog_details/14" class="card-link">Meet Evergreen</a>
	      </div>
	    </div>
		</div>
		<div class="col-md-3">
			<div class="card">
	      <img class="card-img-top models_images" src="http://photos.petfinder.com/photos/pets/40405527/1/?bust=1513822614&width=500&-x.jpg" alt="Card image cap">
	      <div class="card-body">
	        <h5 class="card-title">Mavis</h5>
	        <!-- <p class="card-text">Learn more about Mavis</p> -->
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Breed: Mixed Bree</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Gender: Female</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>Age: 5</li>
					</ul>
	        <a href="/dog_details/15" class="card-link">Meet Mavis</a>
	      </div>
	    </div>
		</div>
	</div>
</div>
{% endblock %}
