{% extends "base.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/models.css') }}">

<div class="models_top container">
	<div class="row">
		<div class="models_title col-md-8">
			<h2>Parks</h2>
			<p class="models_content">There is no place like the great outdoors to make memories!
			Luckily for you we compiled a list of all the parks we think are cool. All you have to do is focus on spending
			time with your favorite four-legged buddy. Here is a selection of all parks that we
			recommend. You will find shelters and dogs in need of an adoption near each park you look at.
			Please look around and plan your first puppy date today!</p>
			<h3 class="models_content">"It is amazing how much love and laughter they bring into our
				lives and even how much closer we become with each other because of them." – John Grogan
			</h3>
		</div>
		<div class="col-md-4">
			<img class="logo" src="homeswehomelogo.png">
		</div>
	</div>
</div>
<hr/>
<div class="models_top container" style="padding-bottom:40px">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
	      <img class="card-img-top models_images" src="https://www.nps.gov/npgallery/GetAsset/49522FFF-1DD8-B71B-0BDD4BF9E5A226E7/proxy/hires/" alt="Card image cap">
	      <div class="card-body">
	        <h5 class="card-title">Alibates Flint Quarries</h5>
	        <p class="card-text">Browse this park</p>
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>3.5/5 Stars</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>(806) 857-6680</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>OPEN</li>
					</ul>
	        <a href="/park_details/0" class="btn btn-primary">Play</a>
	      </div>
	    </div>
		</div>
		<div class="col-md-4">
			<div class="card">
	      <img class="card-img-top models_images" src="https://www.nps.gov/common/uploads/grid_builder/imr/crop16_9/4F7EA0D2-1DD8-B71B-0BC8D967C3037D71.jpg?width=950&quality=90&mode=crop" alt="Card image cap">
	      <div class="card-body">
	        <h5 class="card-title">Amistad</h5>
	        <p class="card-text">Browse this park</p>
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>4.5/5 Stars</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>(830)775-7491</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>OPEN</li>
					</ul>
	        <a href="/park_details/1" class="btn btn-primary">Play</a>
	      </div>
	    </div>
		</div>
		<div class="col-md-4">
			<div class="card">
	      <img class="card-img-top models_images" src="https://www.nps.gov/common/uploads/grid_builder/imr/crop16_9/585B11CB-1DD8-B71B-0B1806CF7FEC9662.jpg?width=465&quality=90&mode=crop" alt="Card image cap">
	      <div class="card-body">
	        <h5 class="card-title">Big Bend</h5>
	        <p class="card-text">Browse this park</p>
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>5/5 Stars</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>(432) 477-2251</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>CLOSED</li>
					</ul>
	        <a href="/park_details/2" class="btn btn-primary">Play</a>
	      </div>
	    </div>
		</div>
	</div>
</div>
{% endblock %}
