{% extends "base.html" %}
{% block content %}

<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Jumbotron</h1>      
    <p>Don't know if you guys want a picture here</p>
  </div>
</div>

<!-- description and info -->
<div class="mx-auto form-inline" style="padding-top:40px; padding-bottom:40px">
  <!-- description -->
  <div class="mx-auto" style="width:70%; padding-left:40px">
  <div class="card">
    <div class="card-header"><h5>Description</h5></div>
      <div class="card-block" style="padding-left:10px; padding-top:10px">
        <blockquote class="card-blockquote">
        <p>Park Description</p>
        <p>this park is cool</p>
        <p>very cool</p>
        </blockquote>
    </div>
  </div>
  </div>
  <!-- info -->
  <div class="mx-auto" style="width:30%; padding-left:40px; padding-right:40px">
  <div class="card">
    <div class="card-header"><h5>Information</h5></div>
      <div class="card-block" style="padding-left:10px; padding-top:10px">
        <blockquote class="card-blockquote">
          <p>Address</p>
          <p>Phone Number</p>
          <a href="/park_details" class="card-link">MY WEBSITE </a>
        </blockquote>
    </div>
  </div>
  </div>
</div>

<!-- Dogs to adopt -->
<div class="mx-auto" style="padding-left:40px">
<h2>DOGS TO ADOPT: </h2>
</div>

<!-- parks in card deck -->
<div class="mx-auto" style="padding-top:10px; padding-bottom:40px; padding-left:40px; padding-right:40px">
  <div class="card-deck">
    <div class="card">
    <img class="card-img-top" src="dog2.jpg" alt="Card image cap">
      <div class="card-body">
         <a href="/dog_details" class="card-link"><h5>Link to Dog</h5></a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="dog2.jpg" alt="Card image cap">
      <div class="card-body">
        <a href="/dog_details" class="card-link"><h5>Link to Dog</h5></a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="dog2.jpg" alt="Card image cap">
      <div class="card-body">
        <a href="/dog_details" class="card-link"><h5>Link to Dog</h5></a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="dog2.jpg" alt="Card image cap">
      <div class="card-body">
        <a href="/dog_details" class="card-link"><h5>Link to Dog</h5></a>
      </div>
    </div>
  </div>
</div>

<!-- Dogs to adopt -->
<div class="mx-auto" style="padding-left:40px">
<h2>SHELTERS NEAR ME </h2>
</div>

<!-- parks in card deck -->
<div class="mx-auto" style="padding-top:10px; padding-bottom:40px; padding-left:40px; padding-right:40px">
  <div class="card-deck">
    <div class="card">
    <img class="card-img-top" src="dog2.jpg" alt="Card image cap">
      <div class="card-body">
         <a href="/shelters/1" class="card-link"><h5>Link to Shelter</h5></a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="dog2.jpg" alt="Card image cap">
      <div class="card-body">
        <a href="/shelters/1" class="card-link"><h5>Link to Shelter</h5></a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="dog2.jpg" alt="Card image cap">
      <div class="card-body">
        <a href="/shelters/1" class="card-link"><h5>Link to Shelter</h5></a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="dog2.jpg" alt="Card image cap">
      <div class="card-body">
        <a href="/shelters/1" class="card-link"><h5>Link to Shelter</h5></a>
      </div>
    </div>
  </div>
</div>



{% endblock %}