{% extends "base.html" %}
{% block content %}
 
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shelter_details_style.css') }}">


 <!-- Title -->
 <h1>{{data[0]}}</h1>

 <br></br>

 <!-- Description Block -->
<div class = "description container">
	<div class="row">
		<div class="models_title col-md-8">
			<ul>
				<li>Address:{{data[1]}} </li>
				<li>Phone Number:{{data[2]}}</li>
				<li>Email:{{data[3]}}</li>
			</ul>
		</div>
		<div class="map col-md-4">
	 		<img src="/sample_map.png">
	 	</div>
	</div>
</div>

<hr></hr>

<!-- Recommended Parks -->
<div class="parks container">
	<div class="row">
		<div class="models_title col-md-12">
			<h2>Recommended Parks</h2>
		</div>

		<div class="mx-auto" style="padding-top:10px; padding-bottom:40px; padding-left:40px; padding-right:40px">
			<div class="card-deck">
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/sample_park.jpeg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Park Name</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="/park_details" class="card-link">Go somewhere</a>
				  </div>
				</div>
	
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/sample_park.jpeg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Park Name</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="/park_details" class="card-link">Go somewhere</a>
				  </div>
				</div>
			
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/sample_park.jpeg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Park Name</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="/park_details" class="card-link">Go somewhere</a>
				  </div>
				</div>
		
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/sample_park.jpeg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Park Name</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="/park_details" class="card-link">Go somewhere</a>
				  </div>
				</div>
			</div>			
		</div>
	</div>
</div>

<hr></hr>

<!-- Recommended Dogs -->
<div class="dogs container">
	<div class="row">
		<div class="models_title col-md-12">
			<h2>Recommended Dogs</h2>
		</div>
		<div class="mx-auto" style="padding-top:10px; padding-bottom:40px; padding-left:40px; padding-right:40px">
			<div class="card-deck">
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/dog1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Dog Name</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="/dog_details" class="card-link">Look at dog</a>
				  </div>
				</div>

				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/dog1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Dog Name</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="/dog_details" class="card-link">Look at dog</a>
				  </div>
				</div>
		
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/dog1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Dog Name</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="/dog_details" class="card-link">Look at dog</a>
				  </div>
				</div>
			
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/dog1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Dog Name</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="/dog_details" class="card-link">Look at dog</a>
				  </div>
				</div>	
			</div>
		</div>
	</div>
</div>


{% endblock %}