{% extends "base.html" %}
{% block content %}
 
 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shelter_details_style.css') }}">


 <!-- Title -->
 <h1>{{data[0]}}</h1>

 <br></br>

 <!-- Description Block -->
<div class = "description container">
	<div class="row">
		<div class="models_title col-md-4">
			<ul>
				<li>Address:{{data[1]}} </li>
				<li>Phone Number:{{data[2]}}</li>
				<li>Email:{{data[3]}}</li>
				<li>Yelp Rating: {{data[4]}}</li>
			</ul>
		</div>
		<div class="map col-md-4">
	 		<img src="/sample_map.png">
	 	</div>
	 	<div class="dog col-md-4">
	 		<img src={{data[5]}}>
	 	</div>
	</div>		
	
</div>

<hr></hr>

<!-- Recommended Parks -->
<div class="parks container">
	<div class="row">
		<div class="models_title col-md-12">
			<h2>Recommended Parks</h2>
		</div>

		<div class="mx-auto" style="padding-top:10px; padding-bottom:40px; padding-left:40px; padding-right:40px">
			<div class="card-deck">
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/sample_park.jpeg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Alibates Flint Quarries</h5>
				    <p class="card-text">13,000 years ago this site was already well-known by mammoth hunters as a place to get the best stone for their tools. Centuries passed but the colorful flint found right here in the Texas panhandle never lost its value and usefulness. Visit and gain a sense of how integral this site was to the survival, commerce and culture of the High Plains.</p>
				    <a href="/park_details/0" class="card-link">Go Somewhere</a>
				  </div>
				</div>
	
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/sample_park.jpeg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Amistad</h5>
				    <p class="card-text">An oasis in the desert, Amistad National Recreation Area consists of the US portion of the International Amistad Reservoir. Amistad, whose name comes from the Spanish word meaning friendship, is best known for excellent water-based recreation, camping, hiking, rock art viewing, and its rich cultural history. Amistad is also home to a wide variety of plant and animal life above and below the water.</p>
				    <a href="/park_details/1" class="card-link">Go Somewhere</a>
				  </div>
				</div>
			
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/sample_park.jpeg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Big Bend</h5>
				    <p class="card-text">There is a place in Far West Texas where night skies are dark as coal and rivers carve temple-like canyons in ancient limestone. Here, at the end of the road, hundreds of bird species take refuge in a solitary mountain range surrounded by weather-beaten desert. Tenacious cactus bloom in sublime southwestern sun, and diversity of species is the best in the country. This magical place is Big Bend.</p>
				    <a href="/park_details/2" class="card-link">Go Somewhere</a>
				  </div>
				</div>
			</div>			
		</div>
	</div>
</div>

<hr></hr>

<!-- Recommended Dogs -->
<div class="dogs container">
	<div class="row">
		<div class="models_title col-md-12">
			<h2>Recommended Dogs</h2>
		</div>
		<div class="mx-auto" style="padding-top:10px; padding-bottom:40px; padding-left:40px; padding-right:40px">
			<div class="card-deck">
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/dog1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Astro</h5>
				    <p class="card-text"></p>
				    <a href="/dog_details/0" class="card-link">Meet Astro</a>
				  </div>
				</div>

				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/dog1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Molly</h5>
				    <p class="card-text"></p>
				    <a href="/dog_details/10" class="card-link">Meet Molly</a>
				  </div>
				</div>
		
				<div class="card" style="width: 18rem;">
				  <img class="card-img-top" src="/dog1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Evergreen</h5>
				    <p class="card-text"></p>
				    <a href="/dog_details/14" class="card-link">Meet Evergreen</a>
				  </div>
				</div>
			
			</div>
		</div>
	</div>
</div>


{% endblock %}