{% extends "base.html" %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/models.css') }}">

<div class="models_top container">
	<div class="row">
		<div class="models_title col-md-8">
			<h2>Shelters</h2>
			<p class="models_content">Here you can browse a variety of adoption centers or animal shelters around Texas.</p>
				<h3 class="models_content">"Dogs are great. Why stop at one? Get two, or three, or four. Just get the whole damn shelter. Wouldn't you agree?" - Timothy Ho
				</h3>
		</div>
		<div class="col-md-4">
			<img class="logo" src="/homeswehomelogo.svg">
		</div>
	</div>
</div>
<hr/>
<div class="models_top container">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
	      <img class="card-img-top models_images" src="https://s3-media4.fl.yelpcdn.com/bphoto/5E9ShzNCm4zAqWoweZnFdQ/o.jpg" alt="Card image cap">
	      <div class="card-body">
	        <h5 class="card-title">Friends For Life</h5>
	        <p class="card-text"></p>
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>4/5 Stars</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>713-863-9835</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>OPEN: 8AM - 5PM</li>
					</ul>
	        <a href="/shelters/0" class="card-link">Adopt</a>
	      </div>
	    </div>
		</div>
		<div class="col-md-4">
			<div class="card">
	      <img class="card-img-top models_images" src="https://s3-media1.fl.yelpcdn.com/bphoto/ovSLVz5Vzr84yUVqieCAcA/o.jpg" alt="Card image cap">
	      <div class="card-body">
	        <h5 class="card-title">BARC Animal Shelter and Adoption</h5>
	        <p class="card-text"></p>
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>3.5/5 Stars</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>(713) 229-7300</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>OPEN: 8AM - 5PM</li>
					</ul>
	        <a href="/shelters/1" class="card-link">Adopt</a>
	      </div>
	    </div>
		</div>
		<div class="col-md-4">
			<div class="card">
	      <img class="card-img-top models_images" src="https://s3-media2.fl.yelpcdn.com/bphoto/JoMkKKBhRagstFKx98jhJA/o.jpg" alt="Card image cap">
	      <div class="card-body">
	        <h5 class="card-title">Houston SPCA</h5>
	        <p class="card-text"></p>
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>3.5/5 Stars</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>(713) 869-7722</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>OPEN: 8AM - 5PM</li>
					</ul>
	        <a href="/shelters/2" class="card-link">Adopt</a>
	      </div>
	  </div>
	</div>
</div>
{% endblock %}
