{% extends "base.html" %}
{% block content %}

 <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/shelter_details_style.css') }}">
 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/models.css') }}">


 <!-- Title -->
 <h1>{{data["name"]}}</h1>

 <br></br>

 <!-- Description Block -->
<div class = "description container">
	<div class="row">
		<div class="models_title col-md-4">
			<p>Address: {{data["address1"]}} {{data["city"]}}, {{data["state"]}} {{data["zip"]}} </p>
			<p>Phone Number: {{data["phone"]}}</p>
			<p>Yelp Rating: {{data["rating"]}}</p>
		</div>
		<div class="map col-md-4">
	 		<img src="{{ url_for('static', filename='img/sample_map.png') }}">
	 	</div>
	 	<div class="dog col-md-4">
	 		<img src={{data["image_url"]}}>
	 	</div>
	</div>

</div>

<hr></hr>
<!-- dogs -->
<div class="container" style="padding-bottom:40px">
  <div class="row">
    <div class="models_title col-md-12">
      <h2>Recommended Dogs</h2>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top models_images" src="http://photos.petfinder.com/photos/pets/32491072/1/?bust=1460483633&width=500&-x.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Astro</h5>
          <!-- <p class="card-text">Learn more about Astro</p> -->
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Breed: Chihuahua</li>
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Gender: Male</li>
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Age: 4</li>
          </ul>
          <a href="/dog_details/0" class="card-link">Meet Astro</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top models_images" src="http://photos.petfinder.com/photos/pets/38739125/5/?bust=1499876332&width=300&-pn.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">McKay</h5>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Breed: Mixed Breed</li>
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Gender: Male</li>
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Age: 11</li>
          </ul>
          <a href="/dog_details/10" class="card-link">Meet McKay</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top models_images" src="http://photos.petfinder.com/photos/pets/39566132/1/?bust=1507160469&width=500&-x.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bob Barker</h5>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Breed: Pitbull</li>
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Gender: Male</li>
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Age: 5</li>
          </ul>
          <a href="/dog_details/14" class="card-link">Meet Bob</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top models_images" src="http://photos.petfinder.com/photos/pets/40405527/1/?bust=1513822614&width=500&-x.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Evergreen</h5>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Breed: Mixed Bree</li>
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Gender: Female</li>
            <li><span class="fa-li"><i class="fas fa-paw"></i></span>Age: 2</li>
          </ul>
          <a href="/dog_details/15" class="card-link">Meet Evergreen</a>
        </div>
      </div>
    </div>
  </div>
</div>

<hr></hr>

<!-- Recommended Parks -->
<div class="parks container" style="padding-bottom:40px">
  <div class="row">
    <div class="models_title col-md-12">
      <h2>Recommended Parks</h2>
    </div>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top models_images" src="https://www.nps.gov/npgallery/GetAsset/49522FFF-1DD8-B71B-0BDD4BF9E5A226E7/proxy/hires/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Alibates Flint Quarries</h5>
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>3.5/5 Stars</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>(806) 857-6680</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>OPEN</li>
					</ul>
          <a href="/park_details/0" class="card-link">Visit</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top models_images" src="https://www.nps.gov/common/uploads/grid_builder/imr/crop16_9/4F7EA0D2-1DD8-B71B-0BC8D967C3037D71.jpg?width=950&quality=90&mode=crop" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Amistad</h5>
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>4.5/5 Stars</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>(830)775-7491</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>OPEN</li>
					</ul>
          <a href="/park_details/1" class="card-link">Visit</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top models_images" src="https://www.nps.gov/common/uploads/grid_builder/imr/crop16_9/585B11CB-1DD8-B71B-0B1806CF7FEC9662.jpg?width=465&quality=90&mode=crop" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Big Bend</h5>
					<ul class="fa-ul">
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>5/5 Stars</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>(432) 477-2251</li>
						<li><span class="fa-li"><i class="fas fa-paw"></i></span>CLOSED</li>
					</ul>
          <a href="/park_details/2" class="card-link">Visit</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
